# ==============================
# Python virtual environment
# ==============================
# .venv/
# venv/
# env/
#.env/

# ==============================
# Python cache
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Pytest cache
# ==============================
.pytest_cache/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Environment / secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# Disease dataset
# ==============================
/data/color/

# ==============================
# Trained model files
# ==============================
# Ignore generated model artifacts if they are large
/models/*.keras
/models/*.h5
/models/*.joblib
/models/*.pkl

# ==============================
# Logs
# ==============================
*.log
logs/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE
# ==============================
.vscode/
.idea/